<mat-toolbar class="navbar-color">
  <div class="logo-container">
    <!-- Place your logo image or text here -->
    <h1 class="logo">KOIOS</h1>
  </div>
</mat-toolbar>
<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header class="header-center">
      <div style="padding-top: 43px;">
        <img src="../assets/logo low quality.png" alt="logo" class="main-logo">
        <h2 class="sign-in">Sign in</h2>
      </div>
    </mat-card-header>
    <mat-card-content class="content">
      <h3 class="title-email">Email</h3>
      <div class="input-box">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Enter your email" class="label-text-input">
          <mat-icon matSuffix fontIcon="home">email</mat-icon>
        </mat-form-field>
      </div>
      
      <div class="container-password">
        <h3 class="title-password">Password</h3>
        <h3 class="forgot-password">Forgot Password?</h3>
      </div>
      
      <div class="input-box">
        <mat-form-field  appearance="outline">
          <input matInput #passwordText [type]="hide ? 'password' : 'text'" placeholder="Enter your password" class="label-text-input">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    

      <div class="remember-me">
        <mat-slide-toggle class="custom-toggle">Toggle me!</mat-slide-toggle>
        <h3 class="title-remember-me">Remember me</h3>
      </div>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" class="sign-in-button">
        <div class="div-sign-in-text">
          <p class="text-sign-in">Sign in</p>
        </div>
      </button>
      <p class="sign-up">
        <span class="text-account">Don't have an account? </span> 
        <span class="sign-up-text">Sign Up</span>
      </p>
    </mat-card-actions>
  </mat-card>
</div>
